<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome To RoomMate</title>
  <link th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css" rel="stylesheet"
        type="text/css">
</head>
<body>
<div th:insert="~{fragments/navigation.html :: nav}"></div>

<div style="height: 80vh; width: 100vw;"
     class="cover-container d-flex bg-dark text-white flex-column justify-content-center align-items-center">

  <h1 th:if="${!loggedIn}" class="m-5">Welcome to RoomMate</h1>

  <div th:if="${!loggedIn}" class="m-5 text-center">
    <h4>Please Log In So You Can Use Our Services</h4>
    <form th:action="@{/oauth2/authorization/github}">
      <input class="btn btn-outline-primary" type="submit" value="Login using GitHub">
    </form>
  </div>


  <div th:if="${loggedIn}" class="m-5 text-center">
    <h3>Hi <span th:text="${userName}">User</span></h3>
    <h1>Welcome Back to RoomMate</h1>
  </div>

  <div th:if="${loggedIn}" class="d-flex gap-5">
    <a th:href="@{/{username}(username=${userName})}" class="text-decoration-none">
      <h2>Your Reservations</h2>
    </a>
    <a th:href="@{/rooms}" class="text-decoration-none">
      <h2>Find Available Workspaces</h2>
    </a>
  </div>

</div>

<div th:insert="~{fragments/footer.html :: footer}"></div>
</body>
</html>